name: Generate Snake Animation 游냀

on:
  schedule:
    - cron: "0 0 * * *" # Gera a cobrinha todo dia  meia-noite (hor치rio UTC)
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do reposit칩rio
        uses: actions/checkout@v3

      - name: Gera a anima칞칚o da cobrinha
        uses: Platane/snk@v3
        with:
          github_user_name: PabloSelares
          output_path: ./github-contribution-grid-snake.svg  # Salva o arquivo na raiz do reposit칩rio

      - name: Verificar se a anima칞칚o foi gerada
        run: |
          echo "Listando arquivos para depura칞칚o:"
          ls -alh  # Lista todos os arquivos no diret칩rio
          ls -alh ./github-contribution-grid-snake.svg  # Verifica o arquivo espec칤fico na raiz

      - name: Faz commit da anima칞칚o
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions
          author_email: github-actions@github.com
          message: "update contribution snake"
          add: "./github-contribution-grid-snake.svg"  
